files:
  "/etc/httpd/conf.d/cachet.conf":
    mode: "000644"
    owner: webapp
group: webapp
    content: |
      <Directory "/var/www/Cachet/public">
      Require all granted
      Options Indexes FollowSymLinks
      AllowOverride All
      Order allow,deny
      Allow from all
      </Directory>
