option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: kangaws 
   
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.small